/* ###########################
      BACKGROUND FORMATTING
   ########################### */


body {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    min-height: 100vh;
    font-family: 'Montserrat', 'sans-serif';
    align-items: center;
    justify-content: center;
    display: flex;
    animation: Gradient 15s ease infinite;



}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

#text {
    margin: 0 auto;
    text-align: center;
    color: whitesmoke;
    position: absolute;
    font-size: 20px;
    bottom: 50%;
    z-index: 3;

    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .08em solid white;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */

    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:

        blink-caret 1.25s step-end infinite;


}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}





/* ###########################
        TABLE FORMATTING
   ########################### */

.table-title {
    margin: 0 auto;
    position: absolute;
    top: 25%;
    font-size: 1.5em;
    color: white;
    z-index: 3;
}
.flat-table {
    margin: 0 auto;
    border-collapse: collapse;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    z-index: 3;
}

.flat-table th,
.flat-table td {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(0, 0, 0, 0.25);


}

.flat-table th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    padding:  0.7em;
    color: rgba(0, 0, 0, 0.45);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
}

.flat-table td {
    color: #f7f7f7;
    padding: 1em 0.1em 0.1em 1em;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    font-size: 1.2em;
}

.flat-table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.flat-table-1 {
    background: #8783D1;
}

.flat-table-1 tr:hover {
    background: rgba(0, 0, 0, 0.19);
}



.fix {
    padding: 20px;
    z-index: 4;
    border-color: black;
}





/* ###########################
           WINDOW DIM
   ########################### */


.dim {
    margin: 0 auto;
    width: 100%;
    height: 120%;
    background-color: black;

/* this changes the dim*/    
    opacity: 0;
    
    
    z-index: 2;
    position: absolute;



}





/* ###########################
         GOOGLE SIGN IN 
   ########################### */


#signin {
    z-index: 4;
}

.g-signin2 {
    z-index: 5;
    margin: 0 auto;
}





/* ###########################
              CLOCK
   ########################### */


.container-time {
    margin: 0 auto;
    position: absolute;
    bottom: 75%;
}

.time {
    width: 280px;
    height: auto;
    background-color: #080808;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15), 0 15px 90px 30px rgba(0, 0, 0, 0.25);
    text-align: center;

}

.label-time {
    margin: 0 auto;
    position: relative;
    height: 50%;
    width: 280px;
    color: white;
    text-transform: uppercase;
    font-size: 45px;

}

.clock {
    z-index: 1;
}





/* ###########################
          PERIOD INFO
   ########################### */


.container-period {
    margin: 0 auto;
    position: absolute;
    bottom: 60%;
}

.period {
    width: 310px;
    height: auto;
    background-color: #080808;
    border-radius: 5px;
    padding: 7px 20px;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15), 0 15px 90px 30px rgba(0, 0, 0, 0.25);
    text-align: center;

}

#label-period {
    margin: 0 auto;
    position: relative;
    height: 50%;
    width: auto;
    color: white;
    text-transform: uppercase;
    font-size: 23px;


}

.time-remain {
    margin: 0 auto;
    width: 250px;
    height: auto;
    background-color: #080808;
    border-radius: 5px;
    padding: 7px 16px;
    text-align: center;
}

#time-remain-passingLabel {
    margin: 0 auto;
    position: relative;
    height: 50%;
    width: auto;
    color: white;
    text-transform: uppercase;
    font-size: 16px;


}

#time-remainLabel {
    margin: 0 auto;
    position: relative;
    height: 50%;
    width: auto;
    color: white;
    text-transform: uppercase;
    font-size: 16px;


}





/* ##########################
            CREDITS
   ########################## */


.foot {
    margin: 0 auto;
    text-align: center;
    color: whitesmoke;
    opacity: .5;
    position: absolute;
    bottom: 0%;

}

#dm {
    opacity: .05;
}
